.menu {
    width: 50%;
}

.menu > li {
    font-size : 30px;
    background-color: #0FDBFF;
    width: inherit;
    margin: 15px;
    border-radius: 5px;
    padding: 0 15px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

a:link {
    text-decoration: none;
    color: #000000;

}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style-type : none;
}

.title {
    text-align: center;
}